/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    text-align: left;
}

header {
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    max-width: 800px;
    /* margin: 20px auto; */
    padding: 0 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.skill-card {
    width: 48%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-progress {
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.skill-progress-inner {
    height: 100%;
    border-radius: 5px;
    background-color: #4caf50;
}
